<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Rôle</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form">Nouveau Role</h4>
          <p class="mb-0">Merci de remplir le formulaire soigneusement.</p>
        </div>
        <div class="card-content">
          <div class="px-3">
            <form [formGroup]="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-file-text"></i> Information Generale</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="type">Role</label>
                      <input type="text" id="type" class="form-control" name="type" formControlName="type" >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="etat">Etat</label>
                      <select id="etat" name="etat" class="form-control"  formControlName="etat" > 
                        <option value="Actif">Actif</option>
                        <option value="Inactif">Inactif</option>
                      </select>
                    </div>
                  </div>                 
                </div>
                
              </div>

              <div class="form-actions">
                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1"  (click)="goBack()">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="button" class="btn btn-raised btn-raised btn-primary"  (click)="save()">
                  <i class="fa fa-check-square-o"></i> Enregistrer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>



</section>