<!--Statistics cards Starts-->
<div class="row">
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">30</h3>
							<span>Nombre de Campagne</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-pie-chart font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-ibiza-sunset">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">10</h3>
							<span>Nombre de client</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-bulb font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>

			</div>
		</div>
	</div>
	
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-green-tea">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">$4566</h3>
							<span>C.A</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-graph font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-pomegranate">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">$8695</h3>
							<span>Total Earning</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-wallet font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type" [options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
					 [events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Statistics cards Ends-->

<div class="row" matchHeight ="card">
	
	<div class="col-xl-4 col-lg-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title mb-0">Liste des clients</h4>
			</div>
			<div class="card-content">
				<div class="card-body">
					<div class="media mb-1">
						<a> 
							<img alt="96x96" class="media-object d-flex mr-3 bg-primary height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-12.png">
						</a>
						<div class="media-body">
							<h4 class="font-medium-1 mt-1 mb-0">Jessica Rice</h4>
							<p class="text-muted font-small-3">Kiabi</p>
						</div>
						<div class="mt-1">
							<div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
								<input type="checkbox" class="custom-control-input" checked id="customcheckbox1">
								<label class="custom-control-label" for="customcheckbox1"></label>
							</div>
						</div>
					</div>
					<div class="media mb-1">
						<a> 
							<img alt="96x96" class="media-object d-flex mr-3 bg-danger height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-11.png">
						</a>
						<div class="media-body">
							<h4 class="font-medium-1 mt-1 mb-0">Jacob Rios</h4>
							<p class="text-muted font-small-3">SFR</p>
						</div>
						<div class="mt-1">
							<div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
								<input type="checkbox" class="custom-control-input" id="customcheckbox2">
								<label class="custom-control-label" for="customcheckbox2"></label>
							</div>
						</div>
					</div>
					<div class="media mb-1">
						<a> 
							<img alt="96x96" class="media-object d-flex mr-3 bg-success height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-3.png">
						</a>
						<div class="media-body">
							<h4 class="font-medium-1 mt-1 mb-0">Russell Delgado</h4>
							<p class="text-muted font-small-3">Orange</p>
						</div>
						<div class="mt-1">
							<div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
								<input type="checkbox" class="custom-control-input" id="customcheckbox3">
								<label class="custom-control-label" for="customcheckbox3"></label>
							</div>
						</div>
					</div>
					<div class="media mb-1">
						<a> 
							<img alt="96x96" class="media-object d-flex mr-3 bg-warning height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-6.png">
						</a>
						<div class="media-body">
							<h4 class="font-medium-1 mt-1 mb-0">Sara McDonald</h4>
							<p class="text-muted font-small-3">Chanel</p>
						</div>
						<div class="mt-1">
							<div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
								<input type="checkbox" class="custom-control-input" checked id="customcheckbox4">
								<label class="custom-control-label" for="customcheckbox4"></label>
							</div>
						</div>
					</div>
					<div class="media mb-1">
						<a> 
								<img alt="96x96" class="media-object d-flex mr-3 bg-info height-50 rounded-circle" src="assets/img/portrait/small/avatar-s-18.png">
							</a>
						<div class="media-body">
							<h4 class="font-medium-1 mt-1 mb-0">Janet Lucas</h4>
							<p class="text-muted font-small-3">Dior</p>
						</div>
						<div class="mt-1">
							<div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
								<input type="checkbox" class="custom-control-input" id="customcheckbox5">
								<label class="custom-control-label" for="customcheckbox5"></label>
							</div>
						</div>
					</div>
					<div class="action-buttons mt-2 text-center">
						<a class="btn btn-raised gradient-blackberry py-2 px-4 white mr-2">Nouveau Client</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-8 col-lg-12 col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Les Dernieres campagnes</h4>
			</div>
			<div class="card-content">
				<table class="table table-responsive-sm text-center">
					<thead>
						<tr>
							<th>Image</th>
							<th>Produit</th>
							<th>Quantité</th>
							<th>Status</th>
							<th>Montant</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><img class="media-object round-media height-50" src="assets/img/elements/01.png" alt="Generic placeholder image" /></td>
							<td>Paquet de pizza</td>
							<td>1000</td>
							<td>
								<a class="btn btn-raised btn-round btn-primary">Validée</a>
							</td>
							<td>$19.94</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td><img class="media-object round-media height-50" src="assets/img/elements/07.png" alt="Generic placeholder image" /></td>
							<td>Pochette baguette</td>
							<td>2000</td>
							<td>
								<a class="btn btn-raised btn-round btn-danger">Cloturée</a>
							</td>
							<td>$99.00</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td><img class="media-object round-media height-50" src="assets/img/elements/11.png" alt="Generic placeholder image" /></td>
							<td>Flayer</td>
							<td>15000</td>
							<td>
								<a class="btn btn-raised btn-round btn-info">Provisoire</a>
							</td>
							<td>$299.00</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
						<tr>
							<td><img class="media-object round-media height-50" src="assets/img/elements/14.png" alt="Generic placeholder image" /></td>
							<td>Panneau lumineux</td>
							<td>2</td>
							<td>
								<a class="btn btn-raised btn-round btn-success">En cours d'exection</a>
							</td>
							<td>$24.51</td>
							<td>
								<a class="danger" data-original-title="" title="">
									<i class="ft-x"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

