<!--table starts-->
<section id="ng-tables">
  <div class="row text-left">
    <div class="col-12">
      <div class="content-header">Liste des Rôles</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
          <div class="action-buttons mt-2 text-right">
                <a class="btn btn-raised gradient-blackberry py-2 px-4 white mr-2"  (click)="addRole()">Nouveau role</a>
                <a class="btn btn-raised gradient-blackberry py-2 px-4 white mr-2"  (click)="affecteAction()">Affectation des Actions</a>
		      </div>
             <table class="table table-striped" id="">
              <thead class=" text-primary">
                <tr>
                  <th>ID</th>
                  <th>Role</th>
                  <th>Etat</th>
                  <th class=" text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of roles">
                  <td>{{role.roleId}}</td>
                  <td>{{role.type}}</td>
                  <td>{{role.etat}}</td>
                  <td class=" text-center"><i class="fa fa-edit" style="cursor: pointer; margin-right:10px" aria-hidden="true" title="éditer" (click)="editRole(role.roleId)"></i> <i class="fa fa-trash" style="cursor: pointer;" aria-hidden="true" title="supprimer" (click)="removeRole(role.roleId)"></i></td>
                </tr>
              </tbody>
            </table>          
            
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item ng-star-inserted">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span class="ng-star-inserted">«</span>
                  </a>
                </li>
                <li class="page-item ng-star-inserted" *ngFor="let item of [].constructor(pagesCount); let i = index"><a class="page-link ng-star-inserted" href="#" >{{i + 1}}</a></li>
                <li class="page-item ng-star-inserted">
                  <a class="page-link ng-star-inserted" href="#" aria-label="Next">
                    <span class="ng-star-inserted">»</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--table ends-->
