.badge{
    display: inline-block;
    padding: .4rem .66666667rem;
    font-size: 85%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.btn-PROVISORY{
    background-color:#1CBCD8 !important;
    color: #ffffff!important;
    border-color: #1CBCD8 !important;
}

.btn-IN_PROGRESS{
    background-color: #0CC27E !important;
    color: #ffffff!important;
    border-color: #0CC27E !important;
}

.btn-REALISED{
    background-color: #FF586B !important;
    color: #ffffff!important;
    border-color: #FF586B !important;
}

.btn-VALIDATED{
    background-color: #009DA0 !important;
    color: #ffffff!important;
    border-color: #009DA0 !important;
    
}

.table {  
  th,
  td {
    padding: 1.15rem 2rem;
    vertical-align: middle;
  }
  
}