<section id="basic-form-layouts">
  <div class="row text-left">
    <div class="col-sm-12">
      <div class="content-header">Client</div>
    </div>
  </div>
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header pb-2">
          <h4 class="card-title" id="basic-layout-form">Nouveau Client</h4>
          <p class="mb-0">Merci de remplir le formulaire soigneusement.</p>
        </div>
        <div class="card-content">
          <div class="px-3">
            <form [formGroup]="form">
              <div class="form-body">
                <h4 class="form-section"><i class="ft-file-text"></i> Information Generale</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="name">Nom client</label>
                      <input type="text" id="name" class="form-control" name="name" formControlName="name" >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="user">Responsable</label>
                      <select id="user" name="user" class="form-control"  formControlName="user"  [(ngModel)]="user.fullName"> 
                        <option selected value="0">-- Selectionner le responsbale --</option>
                        <option *ngFor="let user of users" [ngValue]="user">{{user.fullName}}</option>
                      </select>
                    </div>
                  </div>                 
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" id="email" class="form-control" name="email" formControlName="email" >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="adress">Adresse</label>
                      <input type="text" id="adress" class="form-control" name="adress" formControlName="adress" >
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="phone">Téléphone</label>
                      <input type="text" id="phone" class="form-control" name="phone" formControlName="phone" >
                    </div>
                  </div>               
                </div>
               
              </div>

              <div class="form-actions">
                <button type="button" class="btn btn-raised btn-raised btn-warning mr-1"  (click)="goBack()">
                  <i class="ft-x"></i> Annuler
                </button>
                <button type="button" class="btn btn-raised btn-raised btn-primary"  (click)="save()">
                  <i class="fa fa-check-square-o"></i> Enregistrer
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>



</section>